<div class="row">
  <div class="col-sm-12 cols">
    <div 
    [ngClass]="{flipped: clicked, small: size=='small' && activeImageUrl != '', regular: size=='regular' && activeImageUrl != '', large: size=='large' && activeImageUrl != ''}"
    (click)="clicked = !clicked"
    class="pictureCanvas">
      <img 
      [ngClass] ="{activeImage: activeImageUrl != '', small: size=='small' && activeImageUrl != '', regular: size=='regular' && activeImageUrl != '', large: size=='large' && activeImageUrl != ''}"
      [ngStyle]="{'transform': 'rotate(' + rotation + 'deg)'}"
      src={{activeImageUrl}}
      [@loading]="loaded"
      alt="">
    </div>
    <div class="btn-group buttons" role="group" aria-label="...">
      <button type="button" (click)="loadNextImage()"class="btn btn-warning">Load Next Image</button>
    </div>
    <div class="btn-group buttons" role="group" aria-label="...">
      <button type="button" (click)="size = 'small'" class="btn ">small</button>
      <button type="button" (click)="size = 'regular'" class="btn ">regular</button>
      <button type="button" (click)="size = 'large'" class="btn ">large</button>
      <button type="button" (click)="getRotation()" class="btn ">rotate</button>
    </div>
    <button type="button" style="margin-left: 20px" (click)="reset()" class="btn btn-primary ">Back to Og</button>
  </div>
</div>